.calculator {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    direction: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 12rem;
    border: 1px black solid;
    
}

.result-pane {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 1rem;
}

.buttons {
    position: relative;
}
