:root {
    --background: #474B4D;
    --border: #000;
    --result: #ECEDED;
    --btn-numbers: #EAEBEB;
    --btn-numbers-background: #757779;
    --btn-numbers-active: #A19F9F;
    --btn-functions: #E6E6E7;
    --btn-functions-background: #595D5E;
    --btn-functions-active: #757779;
    --btn-operators: #FFF1DF;
    --btn-operators-background: #FF9F0C;
    --btn-operators-active: #CA7B03;
}

html {
    background-color:lightgray;
}

.header {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 9%;
    min-width: fit-content;
    min-height: fit-content;
    background-color: var(--background);
    border: .1em var(--border) solid;
    border-radius: .66em;
    overflow: hidden;
    
}

.result-flex {
    display: flex;
    align-content: flex-start;
    justify-content: right;
    height: .1em;
    margin-right: 1em;
    margin-bottom: 1em;
    color: var(--result);
    font-family: 'Roboto', sans-serif;
    font-size: .8vw;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -webkit-pre-wrap;
    word-break: break-all;
    white-space: normal;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
}

.btn {
    width: 2.38em;
    height: 2em;
    border: .0005em var(--background) solid;
    color: var(--btn-numbers);
    background-color: var(--btn-numbers-background);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 0em;
}

.btn:active {
    background-color: var(--btn-numbers-active);
}

#clear,
#positive-negative,
#percent {
    color: var(--btn-functions);
    background-color: var(--btn-functions-background);
    font-size: 1.5em;
}

#clear:active,
#positive-negative:active,
#percent:active {
    background-color: var(--btn-functions-active);
}

#divide,
#multiply,
#subtract,
#add,
#equal {
    color: var(--btn-operators);
    background-color: var(--btn-operators-background);
    font-size: 1.5em;
}

#divide:active,
#multiply:active,
#subtract:active,
#add:active,
#equal:active {
    background-color: var(--btn-operators-active);
}

#zero {
    flex: 1 0 4.45em;
    border-radius: 0 0 0 .375em;
}

#equal {
    border-radius: 0 0 .375em 0;
}