:root {
    touch-action: none;
    background-color:var(--background);
    font-family: 'Roboto', sans-serif;
    
    --screen-width: 100%;
    --screen-height: 85vh;
    --calculator-width: 232px;
    --calculator-height: 321px;
    --btn-width: 25%;
    --btn-bottom-border-radius: .375em;
    --result-font-size: 3em;
    --background: #D3D3D3;
    --calculator-background: #474B4D;
    --border: #000;
    --result: #ECEDED;
    --btn-numbers: #EAEBEB;
    --btn-numbers-background: #757779;
    --btn-numbers-active: #A19F9F;
    --btn-functions: #E6E6E7;
    --btn-functions-background: #595D5E;
    --btn-functions-active: #757779;
    --btn-operators: #FFF1DF;
    --btn-operators-background: #FF9F0C;
    --btn-operators-active: #CA7B03;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    margin-top: 1em;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: var(--calculator-width);
    height: var(--calculator-height);
    background-color: var(--calculator-background);
    border: .1px var(--border) solid;
    border-radius: 10px;
    overflow: auto;
}

.result-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 5vh;
    margin-top: 3em;
    margin-bottom: .5em;
    color: var(--result);
}

.result {
    font-size: var(--result-font-size);
    margin-right: .3em;
}

.btn-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.btn {
    flex: 0 1 auto;
    width: var(--btn-width);
    height: auto;
    max-height: auto;
    border: 1px var(--calculator-background) solid;
    background-color: var(--btn-numbers-background);
    color: var(--btn-numbers);
    font-size: 1.5em;
    margin: 0;
}

.btn:active {
    background-color: var(--btn-numbers-active);
}

#clear,
#positive-negative,
#percent {
    background-color: var(--btn-functions-background);
    color: var(--btn-functions);
}

#clear:active,
#positive-negative:active,
#percent:active {
    background-color: var(--btn-functions-active);
}

#divide,
#multiply,
#subtract,
#add,
#equal {
    background-color: var(--btn-operators-background);
    color: var(--btn-operators);
}

#divide:active,
#multiply:active,
#subtract:active,
#add:active,
#equal:active {
    background-color: var(--btn-operators-active);
}

#zero {
    flex: 1 0 auto;
    border-radius: 0 0 0 var(--btn-bottom-border-radius);
}

#equal {
    border-radius: 0 0 var(--btn-bottom-border-radius) 0;
}

@media only screen 
    and (max-width: 450px)
    and (max-height: 950px),
    (max-width: 950px)
    and (max-height: 450px) {
        main {
            margin-top: 0;
        }
        
        .calculator {
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            max-width: 100%;
            width: 100%;
            height: 85vh;
            border-radius: 0;
        }

        .result-container {
            font-size: 2em;
            min-height: 15vh;
        }

        .result {
            margin-right: .2em;
        }

        .btn-container {
            flex: 1;
        }

        .btn {
            font-size: 2em;
        }

        #zero {
            border-radius: 0;
        }

        #equal {
            border-radius: 0;
        }
    }