:root {
    --background: #D3D3D3;
    --calculator-background: #474B4D;
    --border: #000;
    --result: #ECEDED;
    --btn-numbers: #EAEBEB;
    --btn-numbers-background: #757779;
    --btn-numbers-active: #A19F9F;
    --btn-functions: #E6E6E7;
    --btn-functions-background: #595D5E;
    --btn-functions-active: #757779;
    --btn-operators: #FFF1DF;
    --btn-operators-background: #FF9F0C;
    --btn-operators-active: #CA7B03;
    --calculator-width: 232px;
    --calculator-height: 321px;
    --btn-width: 25%;
    --btn-bottom-border-radius: .375em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    background-color:var(--background);
}

.header {
    text-align: center;
    width: 100%;
    height: 80px;
    margin: 0 auto;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: var(--calculator-width);
    height: var(--calculator-height);
    background-color: var(--calculator-background);
    border: .1px var(--border) solid;
    border-radius: 10px;
    overflow: auto;
}

.result-container {
    width: 100%;
    height: 25%;
    text-align: right;
    color: var(--result);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.result {
    margin-top: .5em;
    margin-right: .25em;
}

.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
}

.btn {
    flex: 0 1 auto;
    width: var(--btn-width);
    height: auto;
    max-height: auto;
    border: 1px var(--calculator-background) solid;
    background-color: var(--btn-numbers-background);
    color: var(--btn-numbers);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 0;
}

.btn:active {
    background-color: var(--btn-numbers-active);
}

#clear,
#positive-negative,
#percent {
    background-color: var(--btn-functions-background);
    color: var(--btn-functions);
}

#clear:active,
#positive-negative:active,
#percent:active {
    background-color: var(--btn-functions-active);
}

#divide,
#multiply,
#subtract,
#add,
#equal {
    background-color: var(--btn-operators-background);
    color: var(--btn-operators);
}

#divide:active,
#multiply:active,
#subtract:active,
#add:active,
#equal:active {
    background-color: var(--btn-operators-active);
}

#zero {
    flex: 1 0 auto;
    border-radius: 0 0 0 var(--btn-bottom-border-radius);
}

#equal {
    border-radius: 0 0 var(--btn-bottom-border-radius) 0;
}